body{
    font-size:12px;
    font-family:Arial; 
}
div.categoryPage{
    max-width: 1013px;
    margin:10px auto;
}
div.categorySortBar{
    background-color: #FAF9F9;
    margin: 40px 20px 20px 20px;
    padding:4px;
}
table.categorySortBarTable{
    display: inline-block;
    border-collapse:collapse;   
}
table.categorySortBarTable span.glyphicon{
    font-size: 10px;
}
table.categorSortBarTable td{
    height:17px;
    font-size:12px;
    border:1px solid #CCCCCC;
    padding:3px;
}
table.categorySortBarTable td.grayColumn{
        background-color: #F1EDEC;
}
table.categorySortBarTable td a{
    color: #806F66;

}
table.categorySortBarTable td a:hover{
    color: #C40000;
} 
table.categorySortBarTable input{
        border-width: 0px;
        height: 15px;       
        width: 50px;       
}
table.categorySortBarTable td.priceMiddleColumn{
    width:5px;
    vertical-align:middle;
    color:#CCCCCC;
}
table.categorySortTable td:hover{
    color:#F1EDEC;
}
div.categoryProducts{
    padding:0 20px 40px 20px;
}

div.productUnit{
    width:225px;
    height:338px;
    border:3px solid #fff;
    background-color:white;
    margin:12px 5px;
    float:left;
}
div.productUnit:hover{
    border:3px solid #C40000;
}
div.productUnitFrame{
    border:1px solid #eee;
    height:100%;
}
div.productUnit img.productImage{
   width:100%;
   height:190px;
}
div.productUnit span.productPrice{
    font-size:20px;
    color:#CC0000;
    display:block;
    padding-left:4px;
}
div.prodctUnit a.productLink{
    margin:10px 0px;
    color:#333333;
    display:block;
    height:34px;
}
div.product a.productLink:hover{
    text-decoration: underline;
    color:#C40000;
}
div.productUnit div.productInfo{
    border-top:1px solid #EEEEEE;
    color:#999999;
}
div.productUnit span.productDealNumber{
    font-weight: bold;
    color:#B57C5B;
}
div.productUnit span.productReview{
    border-left:1px solid #EEEEEE;
    border-right:1px solid #EEEEEE;
}
div.productUnit span.productReviewNumber{
    font-weight:bold;
    color:#3388BB;
}
div.productUnit span.productReview,
div.productUnit span.productDeal{
    display: inline-block;
    width:90px;
    height:29px;
    padding-top:5px;
    padding-left:5px;
}
div.productUnit span.wangwang{
    padding-left: 3px;
}

